*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/google-services.json
/gradle.properties
/src/debug/res/values/google_maps_api.xml
/src/release/res/values/google_maps_api.xml
/gradlew
/gradlew.bat
.idea/
app/libs/
libs/
!/app/libs/
/keystore.properties
keystore.properties
/app/aws.properties
