<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.janeullah.apps.healthinspectionviewer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <!--<meta-data-->
            <!--android:name="com.google.firebase.messaging.default_notification_icon"-->
            <!--android:resource="@drawable/ic_stat_ic_notification" />-->
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RestaurantsInCountyActivity"
            android:label="@string/restaurants_in_county_label"
            android:parentActivityName=".activities.MainActivity">

            <!--
                 The meta-data tag is required if you support API level 15 and lower
                 https://developer.android.com/training/basics/firstapp/starting-activity.html
            -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <!--
                 The API key for Google Maps-based APIs is defined as a string resource.
                 (See the file "res/values/google_maps_api.xml").
                 Note that the API key is linked to the encryption key used to sign the APK.
                 You need a different API key for each encryption key, including the release key that is used to
                 sign the APK for publishing.
                 You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${google_map_key}" />

        <activity
            android:name=".activities.RestaurantDataActivity"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".activities.RestaurantsInCountyActivity">

            <!--
                 The meta-data tag is required if you support API level 15 and lower
                 https://developer.android.com/training/basics/firstapp/starting-activity.html
            -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RestaurantsInCountyActivity" />
        </activity>

        <service
            android:name=".services.FetchAddressIntentService"
            android:exported="false" />

        <service android:name=".services.AppFirebaseTokenRetrievalService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".services.AppFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".activities.RestaurantViolations"
            android:label="@string/title_activity_restaurant_violations"
            android:parentActivityName=".activities.RestaurantDataActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.janeullah.apps.healthinspectionviewer.activities.RestaurantDataActivity" />
        </activity>

    </application>

</manifest>